<style>
#ContactForm {
    position: fixed;
    z-index:10;
    text-align: left;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 10px;
    background: #333;
    color: #7E7E7E;
    transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    font-family: Arial, sans-serif;
}
#ContactForm .trigger {
    content: '';
    background: #333;
    width: 130px;
    height: 30px;
    position: absolute;
    left: -80px;
    top: 100px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#ContactForm.open {
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
#ContactForm div.title {
    color: #aaa;
    font-size: 1.3em;
    margin: 10px 0;
    text-align: center;
}
#ContactForm div.status {
    text-align: center;
    padding: 5px;
}
#ContactForm div.status.incorrect, #ContactForm div.status.error {
    background: rgba(87, 0, 0, 0.7);
    border: 1px solid rgb(158, 0, 0);
}
#ContactForm div.status.ok {
    background: rgba(52, 71, 2, 0.7);
    border: 1px solid rgb(56, 109, 0);
}
#ContactForm input {
    width: 100%;
    padding: 0 8px;
    margin: 3px 0;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #3F3F3F;
    border: 1px solid #464646;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #7E7E7E;
}
#ContactForm textarea {
    width: 100%;
    margin: 5px 0;
    padding: 4px;
    max-width: 100%;
    min-height: 100px;
    max-height: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #3F3F3F;
    color: #7E7E7E;
    border: 1px solid #464646;
    font-family: Arial, sans-serif;
}
#ContactForm input[type="submit"]:hover {background: #494949;}
#ContactForm textarea:focus,
#ContactForm input:focus {background: #FFF;border: 1px solid #FFF;}
</style>
<script>
$('.trigger').live('click', function() {
    if ($('#ContactForm').hasClass('open')) {
        $('#ContactForm').removeClass('open');
    } else {
        $('#ContactForm').addClass('open');
    }
});
</script>
<div id="ContactForm">
    <div class="trigger">Задать вопрос?</div>
    <div class="title">Форма обратной связи</div>
    {% if data.error %}
        <div class="status {{ data.error }}">
            {% if data.error == 'sended' %}Сообщение успешно отправлено. Ожидайте ответа на e-mail.{% endif %}
            {% if data.error == 'error' %}Ошибка, сообщение не отправлено!{% endif %}
            {% if data.error == 'incorrect' %}Необходимо заполнить все поля.{% endif %}
        </div>
    {% endif %}
    <form name="ContactForm" action="/" method="post">
        <br /><input name="from_name_contact" type="text" value="{{ data.name }}" placeholder="Ваше имя" />
        <br /><input name="from_mail_contact" type="text" value="{{ data.fromail }}" placeholder="Электронная почта"/>
        <br /><input name="from_sub_contact" type="text" value="{{ data.sub }}" placeholder="Тема сообщения"/>
        <br /><textarea name="from_body_contact" placeholder="Текст сообщения"/>{{ data.body }}</textarea>
        <br /><input value="Отправить" type="submit" />
    </form>
</div>